{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block title %}
{{ planet.name }} | Sol System
{% endblock %}


{% block  content %}
<!-- Основной контент -->
<main class="panel main-content">
    <div class="text-block">
        <h1>Планета {{ planet.name }}</h1>
        <div style="text-align: left;">
            <h2>{{ first_line }}</h2>
            <p>{{ remaining_text|safe|linebreaks  }}</p>
        </div>
    </div>
</main>

<!-- Инфобокс -->
<div class="header-image">
    <div class="image-wrapper">
        <div class="image-container">
            <img src="{{ planet.image.url }}" alt="Картинка" />
        </div>
    </div>
    <div class="column-container">
        <div class="status-rows">
            <div class="info-text">
                <p>Порядок от Солнца: {{ planet.orger }}</p>
                <p>Тип планеты: {{ planet.get_planet_type_display }}</p>
                <p>Радиус: {{ planet.radius }} км.</p>
            </div>
        </div>
    </div>
    <div class="column-container">
        <div class="status-rows">
            <div class="info-text">
                <h3>Спутники планеты {{ planet.name }}</h3>
                {% regroup satellites by get_satellite_type_display as satellite_type_list %}

                {% for type in satellite_type_list %}
                <h4>{{ type.grouper }}</h4> <!-- Выведет человекопонятное название, например "Искусственный" -->
                <ul>
                    {% for satellite in type.list %}
                    <li>
                        <a href="{% url 'satellite_detail' pk=satellite.pk %}">
                            {{ satellite.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column-container">
        <div class="status-rows">
            <div class="info-text">
                <h3>Космические миссии</h3>
                {% for mission in planet.mission_set.all %}
                <ul>
                    <li>
                        <a href="{% url 'mission_detail' pk=mission.pk %}">
                            {{ mission.name }}
                        </a>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
