{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block title %}
{{ satellite.name }} | Sol System
{% endblock %}


{% block  content %}
<!-- Основной контент -->
<main class="panel main-content">
    <div class="text-block">
        <h1>{{ satellite.name }} - спутник планеты {{ satellite.planet.name }}</h1>
        <div style="text-align: left;">
            <h2>{{ first_line }}</h2>
            <p>{{ remaining_text|safe|linebreaks  }}</p>
        </div>
    </div>
</main>

<!-- Инфобокс -->
<div class="header-image">
    <div class="image-wrapper">
        <div class="image-container">
            <img src="{{ satellite.image.url }}" alt="Картинка" />
        </div>
    </div>
    <div class="column-container">
        <div class="status-rows">
            <div class="info-text">
                <p>Тип: {{ satellite.get_satellite_type_display }}</p>
                <p>Радиус: {{ satellite.radius }} км.</p>
            </div>
        </div>
    </div>
    <div class="column-container">
        <div class="status-rows">
            <div class="info-text">
                <h3>Хозяин спутника {{ satellite.name }}</h3>
                <p>
                    <a href="{% url 'planet_detail' pk=satellite.planet.pk %}">
                        {{ satellite.planet.name }}
                    </a>
                </p>
</div>
        </div>
    </div>
</div>
{% endblock %}
