{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/solar_style.css' %}">
</head>
<body>

    <div class="space-container">
        <!-- Фоновое изображение из статики Django -->
        <img src="{% static 'images/solar_system.png' %}" id="bg-map" alt="Solar System">

        <!-- SVG-слой с интерактивными зонами -->
        <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">

                    
            <a href="/planet/1/"> <circle id="mercury" cx="689" cy="472" r="19" class="planet-zone" /> </a>
            <a href="/planet/2/"> <circle id="venus" cx="345" cy="350" r="37" class="planet-zone" /> </a>
            <a href="/planet/3/"> <circle id="earth" cx="240" cy="455" r="50" class="planet-zone" /> </a>
            <a href="/planet/4/"> <circle id="mars" cx="139" cy="570" r="19" class="planet-zone" />  </a>
            <a href="/planet/5/"> <circle id="jupiter" cx="735" cy="615" r="110" class="planet-zone" /> </a>
            <a href="/planet/6/">
                <g id="saturn" class="planet-zone">
                    <ellipse cx="770" cy="305" rx="140" ry="25" transform="rotate(-23, 740, 300)" />
                    <circle cx="770" cy="290" r="60" />
                </g>
            </a>
            <a href="/planet/7/"> <circle id="uranus" cx="310" cy="705" r="21" class="planet-zone" /> </a>
            <a href="/planet/8/"> <circle id="neptune" cx="899" cy="417" r="51" class="planet-zone" /> </a>
        </svg>
    </div>



    <script src="{% static 'js/solar_interaction.js' %}"></script>
</body>
</html>