{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block title %}{{ spaceAgency.name }} | Sol System{% endblock %}

{% block content %}
<div class="detail-content">
    {% include 'includes/button_favorite.html' with content_type='spaceagency' object_id=spaceAgency.id is_favorite=is_favorite %}
    <!-- ЛЕВАЯ КОЛОНКА: Основной текст статьи в рамке -->
    <main class="main-content">
        <article class="sci-fi-panel" style="position: relative;">
            <div class="text-block">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h1>Агентство {{ spaceAgency.name }}</h1>
                </div>
                <div style="text-align: left;">
                    <h2 class="panel-header" style="margin-top: 20px;">{{ first_line }}</h2>
                    <p style="margin-top: 15px;">{{ remaining_text|safe|linebreaks }}</p>
                </div>
            </div>
        </article>
    </main>

    <!-- ПРАВАЯ КОЛОНКА: Фото и данные -->
    <aside class="side-column">

        <!-- Блок изображения в рамке -->
        <div class="image-container sci-fi-panel">
            {% if spaceAgency.image %}
            <img src="{{ spaceAgency.image.url }}" alt="{{ spaceAgency.name }}" />
            {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="Нет изображения" />
            {% endif %}
        </div>

        <!-- Данные агентства -->
        <div class="column-container sci-fi-panel">
            <div class="panel-header">Информация</div>
            <div class="info-text">
                <p>Страна: <span class="custom-style">{{ spaceAgency.country }}</span></p>
                <p>Дата основания: <span class="custom-style">{{ spaceAgency.established_date }}</span></p>
                <p>Прошло дней с основания: <span class="custom-style">{{ days_passed }}</span></p>
            </div>
        </div>

    </aside>
</div>
{% endblock %}