{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- подключение css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_additional %} {% endblock %}
</head>
<body>
    <!-- Меню идет первым и занимает верхнюю строку -->
    <nav class="top-nav">
        <a href="{% url 'main' %}" class="nav-item sound-hover">Главная</a>
        <a href="{% url 'planet_list' %}" class="nav-item sound-hover">Карта</a>
        <a href="#" class="nav-item sound-hover">Поиск</a>
        <a href="#" class="nav-item sound-hover">Тесты</a>
        <!-- Можно добавлять сколько угодно кнопок -->
    </nav>

    <!-- добавление звука при наведении на кнопку -->
    <script>
        // Передаём путь к звуку в глобальную переменную
        window.soundUrl = "{% static 'sounds/hover-button.mp3' %}";
    </script>
    <script src="{% static 'js/button.js' %}"></script>


    {% block content %}
    {% endblock %}
</body>
</html>